
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'MuseoModerno', sans-serif;
}

body{
    background: #000;
}

/*header*/

header {
    background: #ffff;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.logo {
    width: 4%;
    margin: 10px;
}

.cart {
    width: 30px;
    margin: 10px;
}

.navbar-list {
    align-items: center;
    display: flex;
    gap: 20px;
}

li a {
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
    color: #000;
}

/* Hero */

.hero-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    background: #ffff;
    border-radius: 15px;
    margin: 50px 80px;
}

.hero-info p{
    width: 50%;
    font-weight: 600;
    margin-bottom: 6px;
    text-align: center;
}

.hero-info img {
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.btn {
    background: #000;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.btn a {
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info h3 {
    color: aliceblue;
    width: 40%;
}

.info p{
    color: aliceblue;
    font-size: 17px;
    font-weight: 600;
    width: 50%;
    text-align: center;
    margin-top: 15px;
}

.pollito {
    width: 5%;
}

.bambi {
    width: 5%;
}

.corazon {
    width: 5%;
}

.imagenes {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagenes h2{
    color: aliceblue;
    flex-direction: column;
}

.botones {
    display: flex;
    justify-content: space-around;
}

.venta {
    background-color: #fff;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 17px;
    border-radius: 15px;
    padding: 9px;
    cursor: pointer;
}

footer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    margin-top: 30px;
}

footer p {
    font-size: 17px;
}