@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    /* max-width: 1200px; */
    font-family: 'Montserrat', sans-serif;
}

.todo {
    display: flex;
}

.logo {
    width: 7%;
    height: 7%;
    margin: 5px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vh;
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    gap: 15px;
}

.navbar-list li {
    display: flex;
    justify-content: ;
}

.bts {
    display: flex;
    margin: auto;
    gap: 15px;
}

.button {
    color: aliceblue;
    background-color: black;
    padding: 10px;
    border-radius: 1rem;
    font-size: 900;
    margin-top: 5px;
}
